flows.json
[
    {
        "id": "8275be3e.fdbb3",
        "type": "tab",
        "label": "Flow 1",
        "disabled": true,
        "info": ""
    },
    {
        "id": "72da8ff9.60c38",
        "type": "tab",
        "label": "Flow 2",
        "disabled": true,
        "info": ""
    },
    {
        "id": "87b6aa97.9f26c8",
        "type": "tab",
        "label": "Exec",
        "disabled": true,
        "info": ""
    },
    {
        "id": "36e89b05.2d0714",
        "type": "tab",
        "label": "MultiOut",
        "disabled": true,
        "info": ""
    },
    {
        "id": "788a69d8.e50fc8",
        "type": "tab",
        "label": "mqttMongo",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d3414365.8ee28",
        "type": "group",
        "z": "788a69d8.e50fc8",
        "name": "Adquisidor",
        "style": {
            "fill": "#e3f3d3",
            "label": true,
            "label-position": "n",
            "color": "#000000"
        },
        "nodes": [
            "e461fd8.35acd",
            "1ba4b06b.85b27",
            "8727cb72.4ba978",
            "b605693b.f11438",
            "9dac4e0b.e62e9"
        ],
        "x": 34,
        "y": 19,
        "w": 722,
        "h": 82
    },
    {
        "id": "a692b614.cd2598",
        "type": "group",
        "z": "788a69d8.e50fc8",
        "name": "Almacena datos en mongo",
        "style": {
            "label": true
        },
        "nodes": [
            "dc1ec9c6.c7ff38",
            "60266c0.019b194",
            "b13ab3a9.63ff",
            "136697c9.188c48"
        ],
        "x": 894,
        "y": 19,
        "w": 772,
        "h": 142
    },
    {
        "id": "a7f5c01a.3fd54",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iw3.mooo.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "57c525ea.42499c",
        "type": "mongodb-config",
        "hostname": "mongo-soa",
        "port": "27017",
        "db": "mydb",
        "name": ""
    },
    {
        "id": "13f2175a.017009",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto-soa",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "ec314842.d7e6c8",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "34d3b80f.c8add8",
        "type": "ui_tab",
        "name": "Visor de Temperatura y Humedad",
        "icon": "fa-thermometer-empty",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "98abcf0a.34f9c",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "34d3b80f.c8add8",
        "order": 1,
        "disp": false,
        "width": "8",
        "collapse": false
    },
    {
        "id": "abed7d99.14303",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "34d3b80f.c8add8",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "c2f4e757.2a3708",
        "type": "debug",
        "z": "8275be3e.fdbb3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 540,
        "y": 80,
        "wires": []
    },
    {
        "id": "bb46e633.1c7a08",
        "type": "inject",
        "z": "8275be3e.fdbb3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "variablePath",
                "v": "PATH",
                "vt": "env"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 80,
        "wires": [
            [
                "89fe1e42.f3125",
                "637317a3.c59a38"
            ]
        ]
    },
    {
        "id": "48894734.27d368",
        "type": "complete",
        "z": "8275be3e.fdbb3",
        "name": "",
        "scope": [
            "c2f4e757.2a3708"
        ],
        "uncaught": false,
        "x": 130,
        "y": 200,
        "wires": [
            [
                "9f2b8b1d.ab5378"
            ]
        ]
    },
    {
        "id": "f0f80bbf.6e4088",
        "type": "debug",
        "z": "8275be3e.fdbb3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payloadlocal",
        "targetType": "msg",
        "x": 590,
        "y": 200,
        "wires": []
    },
    {
        "id": "9f2b8b1d.ab5378",
        "type": "change",
        "z": "8275be3e.fdbb3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Ha finalizado el proceso",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payloadlocal",
                "pt": "msg",
                "to": "Ha finalizado el proceso (local)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 200,
        "wires": [
            [
                "f0f80bbf.6e4088",
                "3716e856.2d8f18"
            ]
        ]
    },
    {
        "id": "89fe1e42.f3125",
        "type": "delay",
        "z": "8275be3e.fdbb3",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 340,
        "y": 80,
        "wires": [
            [
                "c2f4e757.2a3708"
            ]
        ]
    },
    {
        "id": "3716e856.2d8f18",
        "type": "link out",
        "z": "8275be3e.fdbb3",
        "name": "Salida Flow 1",
        "links": [
            "c9e1269d.747de8",
            "4476a548.f8f35c"
        ],
        "x": 520,
        "y": 280,
        "wires": []
    },
    {
        "id": "c9e1269d.747de8",
        "type": "link in",
        "z": "72da8ff9.60c38",
        "name": "Entrada Flow 2",
        "links": [
            "3716e856.2d8f18"
        ],
        "x": 160,
        "y": 100,
        "wires": [
            [
                "ae566c69.e7e3e"
            ]
        ]
    },
    {
        "id": "ae566c69.e7e3e",
        "type": "debug",
        "z": "72da8ff9.60c38",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 500,
        "y": 100,
        "wires": []
    },
    {
        "id": "5bfc7a10.c5db24",
        "type": "status",
        "z": "8275be3e.fdbb3",
        "name": "",
        "scope": [
            "89fe1e42.f3125"
        ],
        "x": 140,
        "y": 360,
        "wires": [
            [
                "e96aa6d2.b46cd8"
            ]
        ]
    },
    {
        "id": "8f017095.c8a7c",
        "type": "debug",
        "z": "8275be3e.fdbb3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 360,
        "wires": []
    },
    {
        "id": "e96aa6d2.b46cd8",
        "type": "change",
        "z": "8275be3e.fdbb3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "status",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 360,
        "wires": [
            [
                "8f017095.c8a7c"
            ]
        ]
    },
    {
        "id": "4476a548.f8f35c",
        "type": "link in",
        "z": "8275be3e.fdbb3",
        "name": "",
        "links": [
            "3716e856.2d8f18"
        ],
        "x": 575,
        "y": 500,
        "wires": [
            [
                "a39ca2a5.a49d7"
            ]
        ]
    },
    {
        "id": "a39ca2a5.a49d7",
        "type": "debug",
        "z": "8275be3e.fdbb3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 500,
        "wires": []
    },
    {
        "id": "637317a3.c59a38",
        "type": "debug",
        "z": "8275be3e.fdbb3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "variablePath",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 140,
        "wires": []
    },
    {
        "id": "5f726364.7442cc",
        "type": "inject",
        "z": "8275be3e.fdbb3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 600,
        "wires": [
            [
                "6996a4d7.73337c"
            ]
        ]
    },
    {
        "id": "6996a4d7.73337c",
        "type": "change",
        "z": "8275be3e.fdbb3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "lista",
                "pt": "flow",
                "to": "[1,4,6,7,8]",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "valorGlobal",
                "pt": "global",
                "to": "1000",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "34d061bf.f84aee",
        "type": "exec",
        "z": "87b6aa97.9f26c8",
        "command": "ps -A",
        "addpay": "payload",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 240,
        "y": 140,
        "wires": [
            [
                "e67b3a83.c5da58",
                "6fe64864.34db08"
            ],
            [],
            []
        ]
    },
    {
        "id": "8668344c.eb5358",
        "type": "debug",
        "z": "87b6aa97.9f26c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 850,
        "y": 140,
        "wires": []
    },
    {
        "id": "5a3fc9c7.90fe88",
        "type": "inject",
        "z": "87b6aa97.9f26c8",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 140,
        "wires": [
            [
                "34d061bf.f84aee"
            ]
        ]
    },
    {
        "id": "e67b3a83.c5da58",
        "type": "split",
        "z": "87b6aa97.9f26c8",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 390,
        "y": 140,
        "wires": [
            [
                "72d19c2f.e85774",
                "6fe64864.34db08"
            ]
        ]
    },
    {
        "id": "72d19c2f.e85774",
        "type": "function",
        "z": "87b6aa97.9f26c8",
        "name": "Procesamiento",
        "func": "\n//Obtener desde el contexto flow\nvar mensajesProcesados=flow.get(\"mensajesProcesados\");\nvar mensajesDescartados=flow.get(\"mensajesDescartados\");\nif(!mensajesProcesados)\n    mensajesProcesados=0;\nif(!mensajesDescartados)\n    mensajesDescartados=0;\n\nvar l=msg.payload.trim();\nmsg.payload=false;\nif(l!==\"\") {\n    mensajesProcesados++;\n    var p=l.split(\" \");\n    msg.payload=p;\n    if(p[0]!=\"PID\") {\n        msg.payload={\n            \"pid\": p[0],\n            \"procname\": p[4]\n        };\n    }\n} else {\n    mensajesDescartados++;\n}\n\n//Almacenar en el contexto flow\nflow.set(\"mensajesProcesados\",mensajesProcesados);\nflow.set(\"mensajesDescartados\",mensajesDescartados);\n\nglobal.set(\"totalMensajes\",mensajesProcesados+mensajesDescartados);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 140,
        "wires": [
            [
                "17b7834d.3045fd"
            ]
        ]
    },
    {
        "id": "17b7834d.3045fd",
        "type": "switch",
        "z": "87b6aa97.9f26c8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 690,
        "y": 140,
        "wires": [
            [],
            [
                "8668344c.eb5358"
            ]
        ],
        "outputLabels": [
            "descarte",
            "datos"
        ]
    },
    {
        "id": "6fe64864.34db08",
        "type": "debug",
        "z": "87b6aa97.9f26c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 510,
        "y": 40,
        "wires": []
    },
    {
        "id": "90a941cd.e161c",
        "type": "exec",
        "z": "87b6aa97.9f26c8",
        "command": "ls",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 340,
        "y": 280,
        "wires": [
            [
                "d07fd37d.37d65"
            ],
            [],
            []
        ]
    },
    {
        "id": "fe528ee5.fd795",
        "type": "inject",
        "z": "87b6aa97.9f26c8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "-lsh",
        "payloadType": "str",
        "x": 180,
        "y": 280,
        "wires": [
            [
                "90a941cd.e161c"
            ]
        ]
    },
    {
        "id": "d07fd37d.37d65",
        "type": "debug",
        "z": "87b6aa97.9f26c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 280,
        "wires": []
    },
    {
        "id": "4e3a3324.34091c",
        "type": "inject",
        "z": "36e89b05.2d0714",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "e2e5a433.16c278"
            ]
        ]
    },
    {
        "id": "e2e5a433.16c278",
        "type": "function",
        "z": "36e89b05.2d0714",
        "name": "Random",
        "func": "msg.payload=Math.random();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 180,
        "wires": [
            [
                "5fc3b1b.a61235"
            ]
        ]
    },
    {
        "id": "5992c624.2ffbc8",
        "type": "debug",
        "z": "36e89b05.2d0714",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 930,
        "y": 180,
        "wires": []
    },
    {
        "id": "5fc3b1b.a61235",
        "type": "range",
        "z": "36e89b05.2d0714",
        "minin": "0",
        "maxin": "1",
        "minout": "1",
        "maxout": "100",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 520,
        "y": 180,
        "wires": [
            [
                "db85ca6c.eb1068",
                "150f8ecb.7aa0c1"
            ]
        ]
    },
    {
        "id": "db85ca6c.eb1068",
        "type": "rbe",
        "z": "36e89b05.2d0714",
        "name": "Siempre diferentes",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "x": 710,
        "y": 180,
        "wires": [
            [
                "5992c624.2ffbc8"
            ]
        ]
    },
    {
        "id": "150f8ecb.7aa0c1",
        "type": "function",
        "z": "36e89b05.2d0714",
        "name": "Separar",
        "func": "if(msg.payload>=0 && msg.payload<=33) {\n    return [msg,null,null,null];\n} else if(msg.payload>33 && msg.payload<=66) {\n    return [null,msg,null,null];\n} else if(msg.payload>66 && msg.payload<=100) {\n    return [null,null,msg,null]; \n} else {\n    return [null,null,null,msg];\n}",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 280,
        "wires": [
            [
                "d6ace193.bb9b3"
            ],
            [],
            [],
            []
        ],
        "outputLabels": [
            "0>x<=33",
            ">33x<=66",
            ">66x<=100",
            "otro caso"
        ]
    },
    {
        "id": "6e657dc6.797744",
        "type": "debug",
        "z": "36e89b05.2d0714",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1030,
        "y": 260,
        "wires": []
    },
    {
        "id": "d6ace193.bb9b3",
        "type": "change",
        "z": "36e89b05.2d0714",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t \"payload\": '<= 33 **** ' & payload\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 260,
        "wires": [
            [
                "6e657dc6.797744"
            ]
        ]
    },
    {
        "id": "e461fd8.35acd",
        "type": "mqtt in",
        "z": "788a69d8.e50fc8",
        "g": "d3414365.8ee28",
        "name": "",
        "topic": "casa/th",
        "qos": "2",
        "datatype": "json",
        "broker": "13f2175a.017009",
        "nl": false,
        "rap": false,
        "x": 110,
        "y": 60,
        "wires": [
            [
                "8727cb72.4ba978"
            ]
        ]
    },
    {
        "id": "dc1ec9c6.c7ff38",
        "type": "debug",
        "z": "788a69d8.e50fc8",
        "g": "a692b614.cd2598",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1550,
        "y": 120,
        "wires": []
    },
    {
        "id": "1ba4b06b.85b27",
        "type": "rbe",
        "z": "788a69d8.e50fc8",
        "g": "d3414365.8ee28",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload.temperatura",
        "x": 450,
        "y": 60,
        "wires": [
            [
                "9dac4e0b.e62e9"
            ]
        ]
    },
    {
        "id": "9dac4e0b.e62e9",
        "type": "template",
        "z": "788a69d8.e50fc8",
        "g": "d3414365.8ee28",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"timestamp\":\"{{tiempo}}\",\n    \"temperatura\":{{payload.temperatura}},\n    \"humedad\":{{payload.humedad}}\n}",
        "output": "json",
        "x": 600,
        "y": 60,
        "wires": [
            [
                "b605693b.f11438"
            ]
        ]
    },
    {
        "id": "57389d07.f29cf4",
        "type": "inject",
        "z": "788a69d8.e50fc8",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 220,
        "wires": [
            [
                "b3f57abb.86ddd8"
            ]
        ]
    },
    {
        "id": "a41d1860.cf30e8",
        "type": "debug",
        "z": "788a69d8.e50fc8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 850,
        "y": 280,
        "wires": []
    },
    {
        "id": "60266c0.019b194",
        "type": "debug",
        "z": "788a69d8.e50fc8",
        "g": "a692b614.cd2598",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1260,
        "y": 60,
        "wires": []
    },
    {
        "id": "8727cb72.4ba978",
        "type": "function",
        "z": "788a69d8.e50fc8",
        "g": "d3414365.8ee28",
        "name": "Estampa de Tiempo",
        "func": "msg.tiempo=new Date().toISOString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 60,
        "wires": [
            [
                "1ba4b06b.85b27"
            ]
        ]
    },
    {
        "id": "b1b6642b.513748",
        "type": "template",
        "z": "788a69d8.e50fc8",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<ul>\n    {{#payload}}\n    <li>Temperatura: <strong>{{temperatura}}</strong>, humedad: <strong>{{humedad}}</strong></li>\n    {{/payload}}\n</ul>",
        "output": "str",
        "x": 680,
        "y": 280,
        "wires": [
            [
                "a41d1860.cf30e8",
                "1bfa23c2.1e02ac"
            ]
        ]
    },
    {
        "id": "1bfa23c2.1e02ac",
        "type": "http response",
        "z": "788a69d8.e50fc8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 820,
        "y": 360,
        "wires": []
    },
    {
        "id": "508ba45a.b743cc",
        "type": "http in",
        "z": "788a69d8.e50fc8",
        "name": "",
        "url": "/th",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 300,
        "wires": [
            [
                "b3f57abb.86ddd8"
            ]
        ]
    },
    {
        "id": "b13ab3a9.63ff",
        "type": "mongodb-node",
        "z": "788a69d8.e50fc8",
        "g": "a692b614.cd2598",
        "mongodb": "57c525ea.42499c",
        "name": "",
        "collection": "iotcasa",
        "operation": "insert",
        "upsert": false,
        "multi": false,
        "x": 1290,
        "y": 120,
        "wires": [
            [
                "dc1ec9c6.c7ff38"
            ]
        ]
    },
    {
        "id": "b3f57abb.86ddd8",
        "type": "mongodb-node",
        "z": "788a69d8.e50fc8",
        "mongodb": "57c525ea.42499c",
        "name": "",
        "collection": "iotcasa",
        "operation": "find",
        "upsert": false,
        "multi": false,
        "x": 410,
        "y": 260,
        "wires": [
            [
                "b1b6642b.513748",
                "38f051ca.2be39e"
            ]
        ]
    },
    {
        "id": "38f051ca.2be39e",
        "type": "debug",
        "z": "788a69d8.e50fc8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 180,
        "wires": []
    },
    {
        "id": "aa4b7a3f.d39358",
        "type": "ui_gauge",
        "z": "788a69d8.e50fc8",
        "name": "",
        "group": "98abcf0a.34f9c",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": "-20",
        "max": "54",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 690,
        "y": 600,
        "wires": []
    },
    {
        "id": "b605693b.f11438",
        "type": "link out",
        "z": "788a69d8.e50fc8",
        "g": "d3414365.8ee28",
        "name": "Salida de RBE",
        "links": [
            "cd1a7566.e26d98",
            "136697c9.188c48"
        ],
        "x": 715,
        "y": 60,
        "wires": []
    },
    {
        "id": "cd1a7566.e26d98",
        "type": "link in",
        "z": "788a69d8.e50fc8",
        "name": "",
        "links": [
            "b605693b.f11438"
        ],
        "x": 335,
        "y": 620,
        "wires": [
            [
                "39796137.4323ee",
                "ad2fd435.941498"
            ]
        ]
    },
    {
        "id": "136697c9.188c48",
        "type": "link in",
        "z": "788a69d8.e50fc8",
        "g": "a692b614.cd2598",
        "name": "",
        "links": [
            "b605693b.f11438"
        ],
        "x": 935,
        "y": 120,
        "wires": [
            [
                "60266c0.019b194",
                "b13ab3a9.63ff"
            ]
        ]
    },
    {
        "id": "39796137.4323ee",
        "type": "change",
        "z": "788a69d8.e50fc8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperatura",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 600,
        "wires": [
            [
                "aa4b7a3f.d39358"
            ]
        ]
    },
    {
        "id": "d5cd1742.df6128",
        "type": "ui_gauge",
        "z": "788a69d8.e50fc8",
        "name": "",
        "group": "abed7d99.14303",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Temperatura",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 690,
        "y": 660,
        "wires": []
    },
    {
        "id": "ad2fd435.941498",
        "type": "change",
        "z": "788a69d8.e50fc8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.humedad",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 660,
        "wires": [
            [
                "d5cd1742.df6128"
            ]
        ]
    }
]